{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/static/img/favicon.png" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

 
</head>

<body>

  
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      {% include 'navigation/_alert.html'%}
      <div class="profile">
        <img src="static/img/avatar.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/index">{{user.username}}</a></h1> 
        <h4 class="text-light mr-5" style="text-align: center;">Espn20220{{user.id}}</a></h4>
        
        <h4 class="text-light mr-5" style="text-align: center;">VIP 0</a></h4>
       
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/index" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>Personal Information</span></a></li>
          <li><a href="/refferal" class="nav-link scrollto"><i class="bx bx-badge"></i> <span>Refferal</span></a></li>
          <li><a href="#member" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>member promotion</span></a></li>
          <li><a href="/transaction" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Transaction history</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>security center</span></a></li>
          
          <li><a href="/logout" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
 
  
  
  <main id="main">
    <section id="contact" class="contact ">
      <div class="container">
        <div class="profile">
          <img src="static/img/avatar.png" style="width:60px; height:60px;" alt="" class="img-fluid offset-5  rounded-circle">
          <h3 class="text-light text-center"><a href="">{{user.username}}</a></h3> 
          <h4 class="text-dark mr-5" style="text-align: center;">ID: Espn20220{{user.id}}</a></h4>
          <h6 class="text-dark mr-5" style="text-align: center;">VIP 0</a></h6>
          <hr>
          <h4 class="text-dark text-success mr-5" style="text-align: center;color:brown;">${{user.amount}}</h4>
          <h6 class="text-center" style="text-align: center;">Available balance</h6>
          <h5 class="text-dark mr-5" style="text-align: center;">Vip 0</a></h5>
          <div class="btn-group offset-3 offset-lg-5" role="group" aria-label="Basic example">
          <a href="/recharge"> <button type="button" class="btn btn-warning" href="">Recharge</button></a> 
            
            <a href="/withdrawal"><button type="button" class="btn btn-success">wiithdraw</button></a>
          </div>
        </div>

        <script>
            function myFunction() {
              
              
              var copyText1= document.getElementById("Trc201");
            
              
              copyText.select();
              copyText.setSelectionRange(0, 99999);
              copyText1.select();
              copyText1.setSelectionRange(0, 99999);  
            
              navigator.clipboard.writeText(copyText.value);
              navigator.clipboard.writeText(copyText1.value);
              
              
              alert("Wallet address copied" );
            }
        </script>
        <br><br>
        <!-- <div class="row g-3 offset-lg-2">
           
        <div class="position-relative mx-auto">
            
            <input class="form-control w-100 py-3 ps-4
                pe-5" type="text"
                value="new" id="Trc201">
            <button type="button"
                class="btn btn-info py-2
                position-absolute top-0 end-0 mt-2 me-4"
                onclick="myFunction()"><i class="fa
                    fa-clone"></i></button>
        </div>
        
        
    </div> -->
        
            <div class="mt-5 mr-5">
                {% if my_resc %}
        <h1>My Recommendations: </h1>
        <ul>
            {% for item in my_resc %}
                <li>{{item.user}}</li>
            {% endfor %}
        </ul>
    {% else %}
    <h3>Not yet refferal user...</h3>
   
    {% endif %}
            </div>
        </center>

    


   

  </main><!-- End #main -->

 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/mains.js' %}"></script>

</body>

</html>