<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mb-0  pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <p style="text-align: center;">BAPA Football ClubThe platform has legal licenses issued by the European Malta Authority (MGA), the UK GC Oversight Commission (Gambling Commission) and the Philippine Government Commission (PAGCOR). Registered in the British Virgin Islands, it is a legal company recognized by 
            international industry associations. Please make sure you are at least 18 years old before registering and having fun!</p>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">British Virgin Islands (BVI) Certification</h5>
               
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Philippines (PAGCOR) Supervision License</h5>
               
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Malta License (MGA) Certification</h5>
               
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">UK GC Supervision Committee</h5>
               
            </div>
        </div>
    </div>
    <script src="//code.tidio.co/arz5b1p8jc3iymgverwjoump9hgyzrhz.js" async></script>
    <div class="container-fluid copyright ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start  mb-md-0">
                    &copy; <a href="#">Espn01</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                  
                    Designed By <a href="#">Espn01</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

   


   

   


   


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
